body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#question-container {
    text-align: center;
    background-color: #fff;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#options button {
    margin: 10px;
    //background-color: #007BFF;
    background-color: #8c03a7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 185px;
}

#questions {
    display: none;
    text-align: left;
}

#questions h2 {
    margin: 0;
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

#questions button {
    background-color: #007BFF;
    background-color: #8c03a7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    width: 185px;
}

#back {
    display: none;
}

h1 {
    font-weight: 500;
    color: #000;
}
.sign { 
    margin-top: 40px;
}